<p>create-vehicle works!</p>

<div class="parent">
<form [formGroup]="vehicleForm">
    <h2>{{id? 'Edit Vehicle':'Create Vehicle'}}</h2>

    <!-- we can use both methods -->
     
    <!-- <h2 *ngIf="id">Edit Vehicle</h2>
    <h2 *ngIf="!id">Create Vehicle</h2> --> 

    <label for="">Vehicle : </label>
    <input type="text" formControlName="Vehicle">
    <br>

    <label for="">Manufacture  : </label>
    <input type="text" formControlName="manufacturer">
    <br>

    <label for="">Model : </label>
    <input type="text" formControlName="model">
    <br>

    <label for="">Type : </label>
      <input type="text" formControlName="type">
    <br>

    <label for="">Fuel : </label>
    <input type="text" formControlName="fuel">
    <br>

    <label for="">Colour : </label>
    <input type="text" formControlName="color">
    <br>

    <label for="">Image : </label>
    <input type="text" formControlName="image">
    <br>

    <label for="">Cost : </label>
      <input type="text" formControlName="cost">
    <br>



    
    <button (click)="submit()" class="btn btn-primary">Submit</button>
</form>



</div>
