<p>create-account works!</p>
<h1>{{id?'Edit Acoount':'Create Account'}}</h1>
<form [formGroup]="accountsForm">

    <label for="">Account Name</label>
    <input type="text" formControlName="account_name">
    <br>

    <label for="">Account Balance</label>
    <input type="number" formControlName="account_balance">
    <br>

    <label for="">Account Number</label>
    <input type="number" formControlName="account_number">
    <br>

    <label for="">city</label>
    <input type="text" formControlName="city">

    <label for="">Profile Picture</label>
    <input type="text" formControlName="profie_picture">
    <br>
    
    

    <button (click)="submit()" class="btn btn-info">Submit</button>
   


    





</form>