<div class="parent" >
    <div class="child1">
    <input class="search" type="text" placeholder="search" [(ngModel)]="term" (keyup)="filter()" width="100px" height="20px">

    <select class="sel bg-secondary" [(ngModel)]="column" >
        <option class="opt bg-secondary">name</option>
        <option>city</option>
        <option>email</option>
    </select>
    <select class="sel bg-secondary" [(ngModel)]="order">
        <option >asc</option>
        <option>desc</option>
    </select>
    <button (click)="sort()" class="btn btn-info" >Sort</button>


</div>
    

   


    <div class="child2" *ngFor="let student of students" >
        <div class="m1">
        <div class="top">
            <img src="https://loremflickr.com/640/480/abstract" width="50px" height="40px">
            <h5>{{student.school_name}}</h5>
        </div>
        <div class="middle">
            <div class="left">
                <label for="">Name :{{student.name}}</label>
                <br>
                <label for="">Phone : {{student.phone}}</label>
                <br>
                <label for="">City :{{student.city}}</label>
                <br>
                <label for="">Email :{{student.email}}</label>
            </div>
            <div class="right">
                <img src="https://loremflickr.com/640/480/people" width="50px" height="50px">
            </div>

        </div>
        <div class="bottom">
            <div class="b1">
                <label for="">school_city :{{student.school_city}}</label>
                <label for="">school_pin :{{student.school_pin}}</label>
            </div>
            <div class="b2">
                <button class="btn btn-dark">view</button>
                <button class="btn btn-secondary">Edit</button>
                <button class="btn btn-danger" (click)="delete(id)">delete</button>
            </div>
        </div>
    </div>

    </div>








</div>
